{% extends "base.html" %}

{% block title %}Card List{% endblock %}

{% block content %}
<ul>
    {% for monster in monster_list %}
    <li>
        <a href="{% url 'inventory:monster_rud' monster.id %}">{{ monster.name }}</a>
    </li>
    {% endfor %}

    {% for magic in magic_list %}
    <li>
        <a href="{% url 'inventory:magic_rud' magic.id %}">{{ magic.name }}</a>
    </li>
    {% endfor %}

    {% for trap in trap_list %}
    <li>
        <a href="{% url 'inventory:trap_rud' trap.id %}">{{ trap.name }}</a>
    </li>
    {% endfor %}
    <form action="/accounts/user_home">
        <input type="submit" value="Back">
    </form>
</ul>
{% endblock %}