{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<div class="container">
    <form action="/accounts/login" method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" placeholder="Username" required>

        <label for="password">Password: </label>
        <input id="password" type="password" name="password" placeholder="Password" required>

        <input type="submit" value="Login">
    </form>
</div>
{% for message in messages %}<h3>{{ message }}</h3>{% endfor %}
<form action="/accounts/home">
    <input type="submit" value="Return to homepage.">
</form>
{% endblock %}