{% extends "base.html" %}

{% block title %}Account Sign Up{% endblock %}

{% block content %}

<h1>Account Sign Up</h1>
<p>Please fill in the form. All fields are required.</p>

<div class="container">
    <form action="/accounts/signup" method="post" id="signup_form">
        {% csrf_token %}
        {% for field in signup_form %}
            {% for error in field.errors %}
                <p style="color: crimson;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" placeholder="Username" required>

        <label for="first_name">First Name: </label>
        <input id="first_name" type="text" name="first_name" placeholder="First Name" required>

        <label for="last_name">Last Name: </label>
        <input id="last_name" type="text" name="last_name" placeholder="Last Name" required>

        <label for="email">Email: </label>
        <input id="email" type="email" name="email" placeholder="Email" required>

        <label for="verify_email">Verify Email: </label>
        <input id="verify_email" type="email" name="verify_email" placeholder="Verify Email" required>

        <label for="password">Password: </label>
        <input id="password" type="password" name="password" placeholder="Password" required>

        <label for="verify_password">Verify Password: </label>
        <input id="verify_password" type="password" name="verify_password" placeholder="Verify Password" required>
        
        <input type="submit" value="Submit">
    </form>
</div>
<form action="/accounts/home">
    <input type="submit" value="Return to homepage.">
</form>
{% endblock %}