{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hello {{ user.username }}!

    <form action="{% url 'inventory:cards' %}" method="get">
        {% csrf_token %}
        <input type="submit" value="View all cards">
    </form>

    <form action="{% url 'inventory:monster_create' %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Create cards">
    </form>

    <form action="logout" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
{% endif %}
{% endblock %}